.DivImg{
    min-height:100px;
}
.img-btn {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.view-product-img{
    max-width:500px;
    min-width:500px;
}